.DS_Store
.dart_tool/

.packages
.pub/

build/

# Even though we are using Android Studio, it still uses Buildship (an Eclipse thing),
# which means that we end up with .project files popping up everywhere.
.project

# VS Code is keen for the following file types to be excluded (as well as .project)
.classpath
.settings
.factorypath

# And VS Code will create this folder if you tell it to
.vscode

