on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: stable
      
      - name: Get Flutter Packages
        run: flutter pub get

      - name: Install dartdoc global package via pub tool in the Flutter context
        run: |
          flutter pub global activate dartdoc

      - name: Build Documentation
        run: |
          flutter pub global run dartdoc
          ls -al doc/api

      - uses: ably/sdk-upload-action@v1
        with:
            s3AccessKeyId: ${{ secrets.SDK_S3_ACCESS_KEY_ID }}
            s3AccessKey: ${{ secrets.SDK_S3_ACCESS_KEY }}
            sourcePath: doc/api
            githubToken: ${{ secrets.GITHUB_TOKEN }}
            artifactName: dartdoc
