on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ios:
    strategy:
      matrix:
        device: # Device names must be shown in `xcrun simctl list devices`
          - 'iPhone 12' # we are not specifying the iOS version as it tends to change
      fail-fast: false
    runs-on: 'macos-11'
    steps:
      - name: 'List Simulators'
        run: 'xcrun simctl list devices'

      - name: 'Start Simulator'
        run: xcrun simctl boot "${{ matrix.device }}"

      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          cache: true

      # test_integration package depends on ably_flutter, so before we run integration
      # tests it's best to perform dependency update in both packages, to make sure that
      # integration tests are run with exactly the same dependencies as specified in
      # current version of ably_flutter package
      - name: 'Run Flutter Driver tests'
        timeout-minutes: 30
        run: |
          flutter pub get
          cd test_integration && ./run_integration_tests.sh

  android:
    strategy:
      matrix:
        api-level: [24, 29]
      fail-fast: false

    runs-on: 'macos-11'

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '11'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          cache: true

      - name: 'Run Flutter Driver tests'
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            flutter pub get
            cd test_integration && ./run_integration_tests.sh
